.card-wrapper {
  padding: 5px;
  border-radius: 5px;
  margin: 1rem;
  padding: 20px;
  text-align: start;
}
.card-wrapper:hover {
  border: 1px solid #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.rest-img {
  width: 100%;
  border-radius: 5px;
}
.res-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  margin: auto;
  width: 80vw;
}
.filter-btn {
  padding: 5px;
}
.skeleton-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  margin: auto;
  width: 80vw;
}
.skeleton-card {
  padding: 5px;
  border-radius: 5px;
  height: 300px;
  margin: 1rem;
  padding: 20px;
  text-align: start;
  background-color: #f0f0f0;
}
